<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>InvoQiu</title>

    <link rel="stylesheet" href="../css/jquery.treeview.css" />
    <!--<link rel="stylesheet" href="css/screen.css" />-->
    <!--<link rel="stylesheet" href="css/bootstrap.css">-->

    <!--<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>-->
    <script src="../js/jquery-2.1.4.min.js"></script>
    <!--<script src="./js/jquery.cookie.js"></script>-->
    <!--<script src="https://static.runoob.com/assets/js/jquery-treeview/jquery.treeview.js" type="text/javascript"></script>-->
    <script src="../js/jquery.treeview.js" type="text/javascript"></script>
    <script src="../js/treeview.js" type="text/javascript"></script>
</head>
<body bgcolor="white" >

<!--<h1 id="banner">jQuery Treeview 简单实例</h1>-->
<div id="main" style="margin-top: 60px">


    <ul id="browser" class="filetree treeview-famfamfam">
        <li class="closed"><span class="folder">产品1</span>
            <ul>
                <li class="closed"><span class="folder">一层1.1</span>
                    <ul>
                        <li><span class="file">二层 1.1.1</span></li>
                    </ul>
                </li>
                <li class="closed"><span class="folder">一层1.2</span>
                    <ul>
                        <li><span class="folder">二层 1.2.1</span>
                            <ul id="folder">
                                <li><span class="file">三层 1.2.1.1</span></li>
                                <li><span class="file">三层 1.2.1.2</span></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="closed"><span class="folder">产品2</span>
            <ul>
                <li class="closed"><span class="folder">一层2.1</span>
                    <ul>
                        <li><span class="file">二层 2.1.1</span></li>
                    </ul>
                </li>
                <li class="closed"><span class="folder">一层2.2</span>
                    <ul>
                        <li><span class="folder">二层 2.2.1</span>
                            <ul id="folder1">
                                <li><span class="file">三层 2.2.1.1</span></li>
                                <li><span class="file">三层 2.2.1.2</span></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>

    <!--<button id="add">Add!</button>-->



</div>

</body></html>
