<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JiShuZhuangTai</title>
    <link rel="stylesheet" href="css/bootstrap.css">

</head>
<body>
<div class="row" style="margin-top: 20%">
    <div class="col-md-3"></div>
    <div class="col-md-3"><button class="btn-lg"><a href="html/ZhuangBeiLvLi.html">LL管理</a> </button></div>
    <div class="col-md-3"><button class="btn-lg"><a href="html/ZhiBiaoLvLi.html">ZB管理</a></button></div>
    <div class="col-md-3"></div>
</div>

</body>
</html>